/=link_to dynamic_star(battleship), favorate_members_battleship_path(battleship), :method => :put, :title => "Toggle Favorate"
=link_to_remote dynamic_star(battleship), {:url => {:controller => "members/battleships", :action => 'favorate', :id => battleship.id}, :method => :put, :html => {:title => "Toggle Favorate"}}
