- content_for :title do
  Members Home


%h2 Member Home
#main
  %p This is the members interface for the battleships application.
  %p This system allows armada users to add battleships to their armada
  %p Obviously everyone needs lots of battleships, by far the best type of ship
#sidebar
  %p sidebar
